<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code and Coffee</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<!-- Header Showcase -->
<header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>Welcome to Code and Coffee</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum error earum soluta voluptatum nisi laboriosam eos saepe asperiores dolorum.</p>
      <a href="#section-b" class="btn">Read More</a>
    </div>
  </header>

  <!-- Main Area -->
  <main id="main">
    <!-- Section A -->
    <section id="section-a" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Learn new technology and enjoy coffee</h2>
        <div class="content-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint eligendi possimus? Unde officiis magnam laborum ipsa distinctio odio, vero dolores dicta aliquam aperiam repellendus. Perferendis officiis deserunt velit voluptas nobis sequi
            animi totam, accusantium, ex eius quia, natus quo?</p>
        </div>
      </div>
    </section>

    <!-- Section B -->
    <section id="section-b" class="grid">
      <ul>
        <li>
          <div class="card">
            <img src="static/graffix/jpg/webdev.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">WebDev Instruction</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="static/graffix/jpg/pydev.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Python Instruction</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <a href="noteboard"><img src="static/graffix/jpg/network.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Networking with Peers</h3>
              <p>Click this card and leave a message on our noteboard. This will be a great way to leave each other reminders or tips.</p>
            </div>
          </div></a href>
        </li>
      </ul>
    </section>

    <!-- Section C -->
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Our Help is an Email Away</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nam rerum vel earum error fugiat cupiditate, dolore eius! Minus, explicabo.</p>
      </div>
    </section>

    <!-- Section D -->
    <section id="section-d" class="grid">
      <div class="box">
        <h2 class="content-title">Contact Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, suscipit. Rerum ducimus a quod, ut et voluptas obcaecati unde fuga.</p>
        <p>inquire@mastodongroup.com</p>
      </div>
      <div class="box">
        <h2 class="content-title">About Our Company</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio earum porro deserunt, deleniti, quae facere repudiandae, officiis est exercitationem nobis iusto doloremque! Soluta excepturi in aut suscipit amet temporibus quo?</p>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer id="main-footer" class="grid">
    <div>The Mastodon Group, LLC</div>
    <div>&copy; 2019 all rights reserved.</div>
  </footer>
</body>
</html>