<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!-- Header Showcase -->
<header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
          <h1><a href="/">Comments and Coffee</a></h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum error earum soluta voluptatum nisi laboriosam eos saepe asperiores dolorum.</p>
        </div>
      </header>
    <!-- comments area -->
    <div class="noteboardstyle">

        {% for comment in comments %}
        <div class="row">
            {{ comment }}
        </div>
        {% endfor %}

        <div class="row">
            <form action="/noteboard" method="POST">
                <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
                <br>
                <input type="submit" class="btn" value="Post Comment">
            </form>
        </div>

    </div>
</body>

</html>